<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passing in a Struct with Variables example </title>
</head>
<body>
  <ul>
    {{$Var_ex1 := .Name}}
    {{$Var_ex2 := .Motto}}
    <li> {{$Var_ex1}} - {{$Var_ex2}} </li>
  </ul>
</body>
</html>
