<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Nested Templates</title>
</head>
<body>

<h1>The Birth Place of Hip-Hop: {{.}}</h1>
<p> {{template "GunHill".}}</p>

<!--
Passing data into a template.
-->

<!-- FYI -->
This is a go template comment
  </body>
  </html>
