<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Time formatting using a Pipe </title>
</head>
<body>

Without date formatting: {{.}}

With date formatting: {{. | fdateMDY}}


</body>
</html>
