<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passing in a slice example </title>
</head>
<body>
  <ul>
    {{range .Wisdom}}
    <li> {{.Name}} - {{.Motto}}</li>
    {{end}}
  </ul>
  <ul>
    {{range .Wheels}}
    <li> {{.Manufacturer}} - {{.Model}}-{{.Doors}}</li>
    {{end}}
  </ul>
</body>
</html>
