<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Nested Templates</title>
</head>
<body>

<h1>The Birth Place of Hip-Hop</h1>
<p> {{template "GunHill"}}</p>

<!--
Define:
<<define "TemplateName">>
<<insert content here>>
end

USE : <<template "TemplateName">>
-->

<!-- FYI -->
This is a go template comment
  </body>
  </html>
